$orange: #ff8c00;
$blue: #0ff;
$dark-blue: rgb(4, 25, 43);
$odd: rgb(1, 191, 191);

* {
  font-family: "poppins", sans-serif;
}

body {
  background-color: $dark-blue;
}

.title {
  margin: 30px auto;
  padding: 0;
  color: $blue;
  margin-left: 16%;
}

.container {
  margin: 0 auto;
  display: flex;
  padding: 10px 0;
  justify-content: space-evenly;
}

.scoreCard {
  border-radius: 4px;
  width: 25vw;
  padding: 20px 10px;
  overflow-y: scroll;
  height: 60vh;
}

.scoreCard::-webkit-scrollbar {
  display: none;
}

.subWrapper {
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: -30px;
  margin: 0 auto;
  background-color: $dark-blue;
  z-index: 2;
}

.recentScores,
.refresh {
  color: $blue;
  font-weight: 600;
}

.recentScores {
  font-weight: 600;
}

.refresh {
  align-self: center;
  background-color: $dark-blue;
  border: 3px solid $blue;
  color: $blue;
  padding: 5px 10px;
  transition: all 0.2s ease;
  border-radius: 4px;
}

.refresh:active {
  transform: scale(0.96);
}

.list {
  border: 3px solid $blue;
  padding: 10px;
}

.item {
  margin: 10px 0;
  border: 3px solid $blue;
  border-radius: 4px;
  color: $blue;
  padding: 10px;
  word-wrap: break-word;
  font-weight: 600;
  user-select: none;
  transition: all 0.3s ease;
}

.item:hover {
  background-color: $blue;
  color: $dark-blue;
  transform: scale(1.02);
}

.item:nth-child(odd) {
  border: 3px solid white;
}

.item:nth-child(odd):hover {
  background-color: white;
}

.inputCard {
  border-radius: 4px;
  width: 25vw;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
}

.addScore {
  color: $orange;
  font-weight: 600;
  text-align: center;
  font-size: 1.4rem;
}

#user,
#score {
  height: 36px;
  margin: 10px 0;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid $orange;
  font-weight: 600;
  color: $orange;
}

#user::placeholder,
#score::placeholder {
  color: $orange;
}

#score::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#user:focus,
#score:focus {
  outline: none;
}

#submit {
  height: 36px;
  align-self: flex-end;
  color: $orange;
  border: 3px solid $orange;
  background-color: rgba(0, 0, 0, 0);
  font-weight: 600;
  border-radius: 4px;
  padding: 0 10px;
  transition: all 0.2s ease;
}

#submit:active {
  transform: scale(0.96);
}

@media screen and (max-width: 320px) {
  .title {
    font-size: 1.2rem;
    margin: 0 auto;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .scoreCard,
  .inputCard {
    width: 80vw;
    margin-bottom: 10px;
  }
}
